<!--
  Generated template for the CreatebarangPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tambah Barang</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <!-- <ion-item color="secondary" class="page-title">
    Tambah Barang
  </ion-item> -->
  <form class="list-form" [formGroup] = "formgroup" (ngSubmit)="createBarang()">
    <ion-item-group>
      <ion-item>
        <ion-label floating>
          <ion-icon name="md-cart" item-start class="text-primary"></ion-icon>
          Barang
        </ion-label>
        <ion-input type="text" formControlName = "barang"></ion-input>
      </ion-item>
      <ion-item *ngIf="barang.hasError('required') && barang.touched" >
        <p>*Barang is required</p>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item>
        <ion-label floating>
          <ion-icon name="ios-filing" item-start class="text-primary"></ion-icon>
          Tipe Barang
        </ion-label>
        <ion-input type="text" formControlName = "tipe_barang"></ion-input>
      </ion-item>
      <ion-item *ngIf="tipe_barang.hasError('required') && tipe_barang.touched" >
        <p>*Barang is required</p>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item>
        <ion-label floating>
          <ion-icon name="logo-bitcoin" item-start class="text-primary"></ion-icon>
          Harga 
        </ion-label>
        <ion-input type="text" formControlName = "harga"></ion-input>
      </ion-item>
    </ion-item-group>
    <button clear ion-button full color="success" type="submit" [disabled]="!formgroup.valid" >Submit</button>
  </form>

</ion-content>
