<ion-header class="no-shadow">
  <ion-navbar class="no-shadow">
    <ion-title *ngIf="!isSearch" >Home</ion-title>
    <ion-searchbar *ngIf="isSearch" 
                    showCancelButton="true" 
                    (ionInput)="onSearch($event)" 
                    (ionCancel)="isSearch=false">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearch" (click)="isSearch=true" >
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- <button ion-button block (click)="createBook()">Create Barang</button>
  <button ion-button block (click)="getAllBarang()">Get Barang</button> -->
  <!-- <ion-list> 
    <ion-item-sliding #item>
      <ion-item color="secondary" class="page-title">
        Data Barang
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="createBarang()"><ion-icon name="md-add"></ion-icon>Add Barang</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <ion-item color="secondary" class="page-title">
    Data Barang
  </ion-item>
  
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  
   <ion-list *ngFor="let mm of dataBarang" class="border">
      <ion-item-group>
      <ion-item-sliding #item>
        <ion-item no-margin>
          <ion-row>{{mm.barang}}</ion-row>
          <span ion-text color="grey" class="bold">{{mm.tipe_barang}}</span>
          <!-- <ion-row>{{mm.name.first}}</ion-row>
          <span ion-text color="grey" class="bold">{{mm.email}}</span> -->
          <ion-row></ion-row>
        </ion-item>
            
        <!-- <ion-item-options side="left">
          <button ion-button (click)="favorite(item)"><ion-icon name="trash"></ion-icon>Delete</button>
          <button ion-button color="danger" (click)="share(item)">Share</button>
        </ion-item-options> -->
    
        <ion-item-options side="right">
          <button ion-button (click)="deleteBarang(mm.id)" color="danger"><ion-icon name="trash"></ion-icon>Delete</button>
        </ion-item-options>
      </ion-item-sliding>
      </ion-item-group>
    </ion-list>

    <ion-fab bottom right>
      <button ion-fab (click)="createBarang()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
   
</ion-content>
