page-tbarang {
    .list-md {
        margin-bottom: 0px;
    }
    
    .border {
        border-bottom: 2px solid rgba(65, 62, 62, 0.938) !important;
    }

    .item-md.item-block .item-inner{
        border-bottom: 0px;
        font-size: 1.6rem;
    }

    ion-spinner {
        display: block;
        margin: auto;
        margin-top:10px;
      }

}
